.page {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  max-width: 1440px;
  margin: 40px auto;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  opacity: 0;
}

.body,
.page {
  animation: fadeInTop ease 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1440px) {
  .page {
    margin: 40px 20px;
  }
}
