.page {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  max-width: 1440px;
  margin: 40px auto;
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 1440px) {
  .page {
    margin: 40px 20px;
  }
}

.body,
.page {
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
