.header__logo {
  width: 405px;
  height: 390px;
}
@media (max-width: 1440px) {
  .header__logo {
    width: 305px;
    height: 290px;
  }
}
@media (max-width: 1024px) {
  .header__logo {
    width: 255px;
    height: 240px;
  }
}
